
$font-family: Arial, sans-serif;
$primary-color: #ff5722;
$secondary-color: #28a745;
$text-color: #fff;

$border-radius: 10px;
$button-padding: 10px;
$input-padding: 10px;
$container-width: 300px;
